@{
    ViewData["Title"] = "Chat";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" id="chat-css">
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6" style="margin: 0 auto;">
        <div class="card">
            <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                    <div class="user_info">
                        <span>Chat</span>
                    </div>
                </div>
            </div>
            <div class="card-body msg_card_body">
                <div class="d-flex justify-content-start mb-4" id="messagesList">

                </div>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <textarea id="messageInput" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                    <div class="input-group-append">
                        <span id="sendButton" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
